/* css styles */
/*
#f07167 coral
#fed9b7 tan
#fdfcdc creme
#00afb9 aqua
#0081a7 blue
*/


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 20px;
    /* font-family: 'Trebuchet MS', Arial, Tahoma, Verdana, Helvetica, sans-serif; */
    font-family: 'Audiowide', cursive;
    /* font-family: 'Hanken Grotesk', sans-serif; */
    color: #00afb9;
    Padding-left: 50px;
    background: linear-gradient(#00afb9, #f07167);
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: url("assets/images/forsaken-films-fp8RILDNzOo-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    padding-top: 50px;
    padding-bottom: 6px;
    color: #0081a7;
    margin-left: 50px;
}

input {
    margin-bottom: 22px;
    margin-left: 22px;
}

label {
    padding-bottom: 22px;
    color: #f07167;
}

h2 {
    margin-top: 50px;
    padding: 12px;
    width: 150px;
    margin-left: 50px;
    font-weight: bolder;
}

#result {
    margin-top: 12px;
    padding: 4px;
    margin-left: 50px;
    border: 1px solid #f07167;
    width: 10%;
    padding: 12px;
    text-align: right;
    background-color: #fdfcdc;

}

#changeStyle {
    margin-left: 50px;
    background: #f07167;
    padding: 12px;
    margin-top: 22px;
}

#changeStyle:hover {
    margin-left: 50px;
    background: #0081a7;
    color: #fdfcdc;
}

#marquee {
    width: 100%;
    height: auto;
    padding-right: 50px;
}

/* ********************* glow ****************** */
.glow {
    font-size: 80px;
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #e60073, 0 0 20px #e60073, 0 0 30px #000000, 0 0 40px #000000, 0 0 50px #000000, 0 0 60px #000000, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #000000, 0 0 30px #ff4da6, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
}