/* css styles */
/*
#f07167 coral
#fed9b7 tan
#fdfcdc creme
#00afb9 aqua
#0081a7 blue
*/


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 20px;
    /* font-family: 'Trebuchet MS', Arial, Tahoma, Verdana, Helvetica, sans-serif; */
    font-family: 'Audiowide', cursive;
    /* font-family: 'Hanken Grotesk', sans-serif; */
    color: #00afb9;
    Padding-left: 20px;
    background: linear-gradient(#00afb9, #fff);
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-image: url("assets/images/forsaken-films-fp8RILDNzOo-unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

div {
    background-color: #0000006e;
    padding: 20px;
    max-width: 280px;
    text-align: center;
}



h1 {
    padding-top: 50px;
    padding-bottom: 6px;
    color: #f07167;
}

input {
    margin-bottom: 12px;
    padding: 6px;
}

label {
    padding-bottom: 22px;
    color: #f07167;
}

h2 {
    margin-top: 50px;
    padding: 12px;
    color: #f07167;
}

#result {
    margin-top: 12px;
    padding: 4px;
    border: 1px solid #f07167;
    padding: 12px;
    text-align: right;
    background-color: #fdfcdc;

}

#changeStyle {
    background: #f07167;
    padding: 12px;
    margin-top: 22px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#changeStyle:hover {
    background: #0081a7;
    color: #fdfcdc;
}

#marquee {
    width: 100%;
    height: auto;
    padding-right: 50px;
}

button {
    width: 40px;
    height: 40px;
}

div#sticky {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#credit {
    border-left: 10px double #f07167;
    border-top: 4px solid #f07167;
    background-color: hsl(222deg 5.49% 35.69%);
    color: black;
}